#!/bin/bash

source {{ sysconfig_dir }}/hpfeeds

cd {{ broker_dir }}

if [[ ! -f ./config.py ]]
then
    if [[ ! -z $MONGODB_HOST ]]
    then
      MONGODB_HOST="--mongo_host ${MONGODB_HOST}"
    else
      MONGODB_HOST=""
    fi

    if [[ -z $MONGOPORT ]]
    then
      echo "MongoDB port is required"
      exit 1
    else
      MONGODB_PORT="--mongo_port ${MONGODB_PORT}"
    fi

    # We can't really do anything but find/replace, or we have to fork upstream
    python generateconfig.py unattended ${MONGODB_HOST} ${MONGODB_PORT}
fi

echo "Starting hpfeeds..."
echo "MONGODB_HOST = ${MONGODB_HOST}"
echo "MONGODB_PORT = ${MONGODB_PORT}"

exec /usr/bin/env python /opt/hpfeeds/broker/feedbroker.py
